/* Lines 1 to 20 apply to all PCs, Macs and smartphones. */

/* Disable Pull-to-Refresh */
html, body {
    overscroll-behavior: none;
}

.red{
    color: red;
}

.bold{
    font-weight: bold;
}

.instruction{
  max-width: 500px;
  text-align: left;
}

/* Following settings will apply to smartphones. Note that we consider a width of 480 pixels or less to be a smartphone. */
@media screen and (max-width: 480px){ 
    /* fonts and type */
    .jspsych-display-element {
        font-family: "Open Sans", "Arial", sans-serif;
        font-size: 20px;
        line-height: 1.6em;
    }

    .instruction{
        max-width: 300px;
        text-align: left;
        margin: 30px;
    }

    select{
        font-size: 20px;
    }

    button{
        font-size: 20px;
    }

    video{
        width: 400px;
    }

    .jspsych-btn{
        font-size: 20px;
    }

    /* We have to use “!important” to raise the priority.
    Font size of prompt */
    .jspsych-survey-likert-statement{ 
        font-size: 20px !important; 
    }

    /* We have to use “!important” to raise the priority.
    Note that the scale_width property is disabled on smartphones. */
    .jspsych-survey-likert-opts{
        width: 350px !important;
    }

    /* Font size of the letters used on the scale */
    .jspsych-survey-likert-opt-label{
        font-size: 15px;
    }

    .jspsych-html-slider-response-container{
        width: 300px !important;
    }

    .jspsych-video-slider-response-container{
        width: 300px !important;
    }

    .jspsych-image-slider-response-container{
        width: 300px !important;
    }

    .jspsych-audio-slider-response-container{
        width: 300px !important;
    }

    .jspsych-canvas-slider-response-container{
        width: 300px !important;
    }

    input[type="radio"] {
        transform: scale(1.5);
    }

}
  